h1,
h2,
h3,
div,
a,
p {
  letter-spacing: -0.03em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  width: 100%;
  color: #121212;
}

section {
  padding: 0 125px 150px 125px;
}

.logo__link {
  display: inline-block;
  margin-right: 538.46px;
  padding-top: 32.82px;
}

.logo {
  display: block;
  width: 126.89px;
  height: 21.42px;
}

.nav-container {
  margin: 0 auto;
}

.nav {
  display: inline-block;
  vertical-align: top;
}

.nav__link {
  display: inline-block;
  margin-top: 33px;
  margin-right: 60px;
  height: 25px;
  color: #121212;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link_active {
  opacity: 0.5;
  text-decoration: underline;
}

.nav__link:last-child {
  margin-right: 0;
}

h1 {
  margin-bottom: 30px;
  font-size: 60px;
  width: 956px;
}

h2 {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 41px;
}

.container {
  margin: 0 auto;
  width: 1400px;
  background: #ffffff;
}

.interior {
  position: relative;
  width: 1150px;
  height: 500px;
  background-image: url(../resources/interior.jpg);
}

.image__text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
  height: 81px;
  font-size: 20px;
  line-height: 27.32px;
  color: #ffffff;
}

.description {
  margin-bottom: 30px;
  width: 1048px;
  height: 366px;
  font-size: 45px;
  line-height: 61px;
}

.btn {
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 27.32px;
  text-decoration: none;
  color: #ffffff;
  background-color: #ad1818;
  border-radius: 5px;
  cursor: pointer;
}

.project {
  margin-bottom: 90px;
}

.project__image {
  margin-bottom: 15px;
}

.project__title {
  margin-bottom: 15px;
}

.project__link {
  color: #ad1818;
  font-size: 20px;
  text-decoration: none;
}

.FullWidthBtn {
  display: block;
  width: 100%;
  height: 153px;
  line-height: 153px;
  color: #ad1818;
  border: 1px solid #ad1818;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.FullWidthBtn:hover {
  color: white;
  background-color: #ad1818;
}

.section-black {
  padding-top: 151px;
  background-color: black;
}

.service {
  margin-top: 60px;
}

.service:first-child {
  margin-top: 34px;
}

.service__image {
  margin-bottom: 15px;
}

.services__title,
.service__text {
  color: white;
}

.apartment {
  position: relative;
  max-width: 1400px;
  height: 717px;
  background-image: url(../resources/Services/apartment.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: 50%;
}

.apartment-text {
  position: absolute;
  left: 125px;
  bottom: 60px;
  width: 443px;
  height: 82px;
  color: white;
  font-size: 30px;
  line-height: 40.98px;
}
